LearnAPI/.vs/
*.user
*.exe
LearnAPI/Singleton/x64/
LearnAPI/x64/
LearnAPI/Pimpl/x64/
LearnAPI/Factory/x64/
LearnAPI/FactoryExtensible/x64/
LearnAPI/ProxyInterface/x64/
LearnAPI/ProxySimple/x64/
LearnAPI/Facade/x64/
LearnAPI/Adapter/x64/
LearnAPI/Observer/x64/
LearnAPI/stack_c/x64/
